.board{
    display: grid;
    grid-template-columns: auto auto auto auto
    auto auto auto auto;
    width: 500px;
    height: 500px;
    margin:auto;
    border-style: ridge ;
    border-width: 13px;
    border-color: black;
    padding: 30px;
    background-color: green;

}
body {
    background-color: grey;
}
h1 {
    border-style:double;
    border-width: 5px;
    border-color: gold;
}
.square{
    border-style: solid ;

}

.display{
    margin: auto;
    text-align: center;
}

.controls {
    text-align: center;
    padding: 40px;
}
h3 {
    text-align: left;
}

.mine { 
    text-align: center;
    color: red;
    

}
.clear {
    text-align: center;

}
.clicked {
    background-color: gray;
  
}
.flagsInGame {
    background-color: blueviolet;
}
.board div {
    height: 50px;
    width: 50px;
    border-style: solid;
    border-color: gold;
}
