.board {
    display: grid;
    grid-template-columns: auto auto auto auto
    auto auto auto auto;
    width: 500px;
    height: 500px;
    margin:auto;
    border-style: ridge ;
    border-width: 13px;
    border-color: black;
    padding: 30px;
    background-color: green;

}
body {
    background-color: grey;
}
h1 {
    border-style: inset;
    border-width: 5px;
    border-color: gold;
    background-color: antiquewhite;
}
.square {
    border-style: solid ;

}
.display {
    margin: auto;
    text-align: center;
}
.controls {
    text-align: center;
    padding: 40px;
}
h3 {
    margin: 20px;
    color: gold;
    display: inline-flex;
    font-size: 50px;
}

.mine { 
    text-align: center;
    color: red;
    justify-content: center;
    font-size: large;
    background-size: 50px;
    


}
.clear {
    text-align: center;
    justify-content: center;
    background-size: 50px;

}
.clicked {
    background-color: gray;
    font-size: x-large;
  
}
.flagsInGame {
    background-color: white;
}
.board div {
    height: 50px;
    width: 50px;
    border-style: solid;
    border-color: gold;
}
#reset {
    border-style:inset;
    border-width: 20px;
    background-color: green;
    padding: 20px 20px 20px 20px;
    color: gold;
    font-size: larger;
}